@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

@font-face {
    font-family: "DINPro-Medium";
    src: url("../fonts/din-pro-medium.eot");
    src: url("../fonts/din-pro-medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/din-pro-medium.otf") format("opentype"),
        url("../fonts/din-pro-medium.svg") format("svg"), 
        url("../fonts/din-pro-medium.ttf") format("truetype"),
        url("../fonts/din-pro-medium.woff") format("woff"), 
        url("../fonts/din-pro-medium.woff2") format("woff2"); 
    font-weight: 500;
    font-style: normal;
  }