@media screen and (max-width: 414px) {
    .counter .text-box{
        padding: 40px 15px;
        /* margin-bottom: -10px; */
    }
    .container-main{
        max-width: 350px;
    }
    .logo_nav_first{
        width: 200px;
    }
    .counter h1{
        font-size: 26px;
        line-height: 30px;
        padding-bottom: 20px;
    }
    .counter p{
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 20px;
    }
    .footer .text-copyright{
        font-size: 10px;
        line-height: 12px;
    }
    #progress{
        margin-left: -35%;
    }
    .navbar{
        padding: 0 !important;
    }
    .footer{
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
@media screen and (max-width: 375px){
    .container-main{
        max-width: 310px;
    }
}
@media only screen and (min-width: 375px) and (max-height: 667px) and (-webkit-device-pixel-ratio: 2){
    #progress{
        margin-left: -45%;
    }
    .counter .text-box{
        padding: 30px 15px;
    }
    .counter h1{
        font-size: 24px;
        line-height: 28px;
        padding-bottom: 15px;
    }
    .counter p{
        font-size: 13px;
        line-height: 18px;
        padding-bottom: 15px;
    }
}
@media screen and (max-width: 360px) {
    .counter .text-box{
        padding: 25px 15px;
    }
    .container-main{
        max-width: 300px;
    }
    .counter h1{
        font-size: 22px;
        line-height: 26px;
        padding-bottom: 10px;
    }
    .counter p{
        font-size: 12px;
        line-height: 16px;
        padding-bottom: 10px;
    }
    #progress{
        margin-left: -48%;
    }
}
@media screen and (max-width: 320px){ 
    .counter .text-box{
        padding: 20px 15px 15px;
    }
    .container-main{
        max-width: 260px;
    }
    .counter h1{
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 10px;
    }
    .counter p{
        font-size: 11px;
        line-height: 15px;
        padding-bottom: 5px;
    }
    #progress{
        margin-left: -63%;
    }
}
@media only screen and (max-height: 414px) and (max-width: 956px) and (orientation: landscape){
    header{
        visibility: hidden;
    }
    footer{
        visibility: hidden;
    }
    #box_vertical{
        display: none;
    }
    #box_horizontal{
        display: block;
    }
    #box_horizontal p{
        font-family: 'Ubuntu', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        padding: 0 5px;
        background: linear-gradient(45deg, #006FBA 33%, #162F75 66%, #162F75);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #006FBA;
    }
}
@media only screen and (max-height: 360px) and (orientation: landscape) {
    #box_horizontal p{
        font-size: 22px;
        line-height: 26px;
    }
}
