@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@font-face {
  font-family: "DINPro-Medium";
  src: url("../fonts/din-pro-medium.eot");
  src: url("../fonts/din-pro-medium.eot?#iefix") format("embedded-opentype"),
      url("../fonts/din-pro-medium.otf") format("opentype"),
      url("../fonts/din-pro-medium.svg") format("svg"), 
      url("../fonts/din-pro-medium.ttf") format("truetype"),
      url("../fonts/din-pro-medium.woff") format("woff"), 
      url("../fonts/din-pro-medium.woff2") format("woff2"); 
  font-weight: 500;
  font-style: normal;
}
#box_horizontal{
  display: none;
}
.webgl-content * {border: 0; margin: 0; padding: 0; left: 0;}
 canvas {
  position: absolute;
}
canvas, .webgl-content, #gameContainer {
  width: 100% !important;
  height: 100%!important;
  background: transparent !important;
}
.webgl-content {position: absolute; overflow: hidden;}
body {
  font-family: 'DINPro-Medium', sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  height: 100%;
  overflow: hidden;
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed; */
}
.share-block {
  display: none;
}
.bg-new{
  background-color: rgba(237, 245, 249, 0.76);
}
header {
  display: block;
}
.navbar{
  top: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
  z-index: 10;
}
.navbar-brand{
  margin-right: 0 !important;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.footer .text-copyright{
  font-family: 'DINPro-Medium', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  color: #162F75;
}
.counter {
  background:url('../images/bg1.png') center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  align-items: center;
  justify-content: center;
}
.counter .text-box {
  background: linear-gradient(293.81deg, #EDF5F9 35.19%, #FFFFFF 100%);
  border: 1px solid #162F75;
  box-sizing: border-box;
  box-shadow: 8px 12px 6px rgba(22, 47, 117, 0.24);
  border-radius: 5px;
  padding: 50px 55px;
  margin-top: 0rem;
}
.container-main {
  max-width: 600px;
}
.counter h1 {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(45deg, #006FBA 33%, #162F75 66%, #162F75);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  color: #006FBA;
  padding-bottom: 45px;
}
.counter p {
  font-family: 'DINPro-Medium', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #162F75;
  padding-bottom: 25px;
}
.logo_nav_first{
  width: 233px;
}
.logo_nav_second{
  width: 74px;
}
.image_header_block{
  padding-bottom: 40px;
}
.image_header{
  width: 368px;
}
.btn-start{
  background: linear-gradient(274.6deg, #162F75 26.56%, #006FBA 100%);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px 40px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #EDF9F7;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 5px;
}
.btn-start:hover{
  color: #162F75;
  background: #fff;
  border: 2px solid #006FBA;
  padding: 8px 38px;
}
.social-btn {
  color: #F9F8F1;
  margin: 14px 15.5px 0px 15.5px;
  font-size: 22px;
}
.social-btn:hover{
  color: #DD342B;
}
#start_btn {
  display: none;
}
#progress {
  display: block;
}
.water-fill {
  animation: wave 1.7s infinite linear;
}
@keyframes wave {
    0% { x: -400px; }
    100% { x: 0; }
}