
@font-face {
  font-family: "RussianRailGPro";
  src: url("/TemplateData/fonts/RussianRail-G-Pro.eot"); /* IE9 Compat Modes */
  src: url("/TemplateData/fonts/RussianRail-G-Pro.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/TemplateData/fonts/RussianRail-G-Pro.otf") format("opentype"), /* Open Type Font */
    url("/TemplateData/fonts/RussianRail-G-Pro.svg") format("svg"), /* Legacy iOS */
    url("/TemplateData/fonts/RussianRail-G-Pro.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/TemplateData/fonts/RussianRail-G-Pro.woff") format("woff"), /* Modern Browsers */
    url("/TemplateData/fonts/RussianRail-G-Pro.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RussianRailGPro";
  src: url("/TemplateData/fonts/RussianRail-G-Pro.eot"); /* IE9 Compat Modes */
  src: url("/TemplateData/fonts/RussianRail-G-Pro.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/TemplateData/fonts/RussianRail-G-Pro.otf") format("opentype"), /* Open Type Font */
    url("/TemplateData/fonts/RussianRail-G-Pro.svg") format("svg"), /* Legacy iOS */
    url("/TemplateData/fonts/RussianRail-G-Pro.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/TemplateData/fonts/RussianRail-G-Pro.woff") format("woff"), /* Modern Browsers */
    url("/TemplateData/fonts/RussianRail-G-Pro.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 500;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Ubuntu:wght@400;500;700&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */

header {
  display: block;
}
.navbar{
  z-index: 10;
}

.webgl-content * {border: 0; margin: 0; padding: 0; left: 0;}
 canvas {
          position: absolute;
      }
      canvas, .webgl-content, #gameContainer {
          width: 100% !important;
          height: 100%!important;
      }
.webgl-content {position: absolute; overflow: hidden;}

body {

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
font-family: 'FSRAILWAYBook';
text-align: center;
height: 100%;
overflow: hidden;
}

.counter p {
font-size: 30px;
font-weight: 200;
}
.counter h1 {
font-size: 60px;
padding: 20px 0;
font-family: 'RussianRailGPro';
}
.counter .ProgressLineB {
background: #a4a4a3;
border: none;
height: 1px;
/*  width: 200px;*/
}
.counter .ProgressLine {
background: #f60d54;
border: none;
height: 3px;
width: 0px;
margin-top: -10px;
}
.counter h1.abs {
position: absolute;
top: 0;
width: 100%;
}
.counter .color {
width: 0px;
overflow: hidden;
color: #f60d54;
}

div#loadingBox {
width: 100%;
height: 20px;
position: absolute;
top: 50%;
margin-top: 50px;
text-align: center;
}

body .vertical-centered-box {
position: absolute;
width: 100%;
height: 100%;
text-align: center;
}
body .vertical-centered-box:after {
content: '';
display: inline-block;
height: 100%;
vertical-align: middle;
margin-right: -0.25em;
}
body .vertical-centered-box .content {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
display: inline-block;
vertical-align: middle;
text-align: left;
font-size: 0;
}
* {
/* -webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;*/
margin: 0;
padding: 0;
}

.loader-circle {
position: absolute;
left: 50%;
top: 50%;
width: 120px;
height: 120px;
border-radius: 50%;
box-shadow: inset 0 0 0 1px rgba(250, 250, 2500, 0.1);
margin-left: -60px;
margin-top: -60px;
top: 95px;
}
.loader-line-mask {
position: absolute;
left: 50%;
top: 50%;
width: 60px;
height: 120px;
top: 95px;
margin-left: -60px;
margin-top: -60px;
overflow: hidden;
-webkit-transform-origin: 60px 60px;
-moz-transform-origin: 60px 60px;
-o-transform-origin: 60px 60px;
-ms-transform-origin: 60px 60px;
transform-origin: 60px 60px;
-webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
-webkit-animation: rotate 1.2s infinite linear;
-moz-animation: rotate 1.2s infinite linear;
-o-animation: rotate 1.2s infinite linear;
animation: rotate 1.2s infinite linear;
}
.loader-line-mask .loader-line {
width: 120px;
height: 120px;
border-radius: 50%;
box-shadow: inset 0 0 0 1px rgba(250, 250, 250, 0.5);
}

#start_btn {
/* margin-top: 20px;
height: 75px;
min-width: 144px;
cursor: pointer;
    z-index: 999;
    border: none;
  outline: none; */
}
/* 
#start_btn:hover {

} */
.logo_nav{
  width: 65px;
  margin-right: 35px;
}

.image_header_block{
  /* padding-top: 20px; */
  padding-bottom: 40px;
}
.image_header{
  width: 368px;
}
.start_click{
  padding-top: 20px;
}

.btn_danger{
  background: #DD342B;
  border: 2px solid #DD342B;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 10px 40px;
  color: #F9F8F1;
  font-family: 'RussianRailGPro';
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn_danger:hover{
  background: #F9F8F1;
  border: 2px solid #DD342B;
  color: #DD342B;
}


.mfp-content *{
    user-select: none;
}

.share h3 {
margin-bottom: 20px;
}

.counter p {
  font-family: 'FSRAILWAYBook';
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #242424;
}
#navScreen{
  left: 10%;
  right: auto;
  top: 20px;
  width: 50%;
  position: fixed;

}
#navScreenSoc{
  left: auto;
  right: 10%;
  top: 20px;
  width: auto;
  position: fixed;

}
#footerScreen{
  /* top: auto; */
  left: 10%;
  right: auto;
  bottom: 2.5rem;
  width: 100%;
  position: fixed;
  font-family: 'FSRAILWAYBook';
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #F9F8F1;
}

.social-btn {
  color: #F9F8F1;
  margin: 14px 15.5px 0px 15.5px;
  font-size: 22px;
}
.social-btn:hover{
  color: #DD342B;
}

.social-btn-share {
  color: #DD342B;
  margin: 0px 10px 0px 10px;
  font-size: 22px;
}
.social-btn-share i:hover{
  color: #DD342B;
  font-size: 24px;
}
.modal-content{
  background-color: none;
  border: none;
}

.bd-example-modal .modal {
  position: absolute;
  top: auto;
  right: 45px;
  bottom: 0;
  left: auto;
  z-index: 1;
  display: none;
  height: 45px;
}
.modal-dialog{
  margin: 0px !important;
}
.modal-body{
  padding: 0px !important;
}


@media only screen and (min-width: 2560px) {
  .social-btn-share {
    font-size: 40px;
    margin: 0px 20px 0px 20px;
  }
  .social-btn-share i:hover{
    color: #DD342B;
    font-size: 44px;
  }

  .bd-example-modal .modal {
    height: 75px;
    right: 75px;
  }
}

@media only screen and (max-width: 600px) {
.counter {
  position: absolute;
  transform: none;
  min-width: inherit;
  max-width: 100vw;
  overflow: hidden;
  left: 0px;
  top: 0px;
  padding: 0px;
  height: 100vh;
  justify-content: space-around;
}
.counter p {
  font-size: 16px;
  line-height: 21px;
}
.counter h1 {
  font-size: 30px;
  margin-top:0;
}
.webgl-content .logo{
  width: 100vw;
  min-height: 150px;
  margin-top: 10px;
}
}

#loadingInfo {
/*background:url('Old-Paper-Texture-3.png') center center no-repeat;
background-size: cover;*/
/*width: 730px;
height: 1080px;*/
/* display: flex;
flex-direction: column; */

background:rgba(253, 251, 243, 0.98);
box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
border-radius: 20px;
padding: 45px 30px;
margin-top: -100px;
}

.counter {
background:url('../images/bg1.png') center center no-repeat;
/* background-color: #000000; */
background-size: cover;
display: flex;
flex-direction: column;
position: absolute;
left: 0;
top: 0;
bottom: 0;
right: 0;
z-index: 9;
align-items: center;
justify-content: center;
}

.counter p {
  font-size: 20px;
  font-weight: 200;
  max-width: 600px;
  text-align: left;
  padding-bottom: 20px;
}

#progressWrap {
position: fixed;
left: 0;
right: 0;
bottom: 2px;
width: 100%;
height: 50px;
}
.counter .ProgressLine {
position: fixed;
height: 10px;
background: #DD342B;
top: auto;
bottom: 9rem;
}
.counter .ProgressLineB {
position: absolute;
top: 50px;
height: 10px;
}


#progressC {
font-family: 'RussianRailGPro';
font-weight: normal;
color: #F9F8F1;
font-size: 56px;
line-height: 45px;
position: absolute;
right: 10%;
bottom: 9rem;
left: auto;
top: auto;
}

@media only screen  and (max-height:800px) {
  #loadingInfo{
    margin-top: 0px;
    padding: 30px 30px;
  }
  .image_header_block{
    padding-bottom: 20px;
  }
  .start_click{
    padding-top: 0px;
  }
  .counter p{
    font-size: 18px;
    line-height: 24px;
  }
  .counter .ProgressLine{
    bottom: 5rem;
  }
  #progressC{
    bottom: 5rem;
  }
}

@media (max-width:480px) {
  .bd-example-modal .modal{
    right: 8px;
  }
  #navScreenSoc{
    visibility: hidden;
  }
  .counter p{
    font-size: 14px;
    line-height: 18px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #navScreen{
    width: 100%;
    left: 5%;
  }
  #footerScreen{
    left: 5%;
    bottom: 1.5rem;
  }
  #loadingInfo{
    margin-top: -75px;
    padding: 0;
  }
  .counter .ProgressLine{
    bottom: 0;
  }
  #progressC{
    /* visibility: hidden; */
    bottom: -0.2rem;
    right: 5%;
  }
  .start_click{
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .image_header_block{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .image_header{
    width: 250px;
  }
}

@media (max-width:360px) {
  #loadingInfo{
    margin-top: -35px;
  }
  .counter p{
    font-size: 12px;
    line-height: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .image_header_block{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .start_click{
    padding-top: 0px;
    padding-bottom: 10px;
  }
}

@media (max-width:320px) {
  .counter p{
    font-size: 10px;
    line-height: 14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
  }
  #loadingInfo{
    margin-top: -60px;
  }

}

@media only screen and (min-width: 375px) and (max-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2){
  .start_click{
    padding-top: 0px;
    padding-bottom: 10px;
  }
  .image_header_block{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  }

@media only screen
and (min-device-width: 320px)
and (max-device-width: 812px) {
  /* #loadingInfo p {
    font-size: 40px;
   } */

  #progressC {
    font-size: 2.5em;
    margin-top: -25px;
  }
  
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 812px)
and (orientation: landscape) {
  #loadingInfo {
    padding: 20px 15px;
  }
  #loadingInfo h1 {
    font-size: 40px;
  }
  #loadingInfo p {
    font-size: 18px;
  }
}

#data_hor{
  display: none;
}
@media only screen and (max-height: 414px) and (orientation: landscape) {
  #navScreen{
    visibility: hidden;
  }
  #footerScreen{
    visibility: hidden;
  }
  #progressWrap{
    visibility: hidden;
  }
  #navScreenSoc{
    visibility: hidden;
  }
  #data_vert{
    display: none;
  }
  #data_hor{
    display: block;
  }
  #data_hor p{
    color: #DD342B;
    font-size: 27px;
    text-align: center;
    font-family: 'RussianRailGPro';
    text-transform: uppercase;
    /* padding-bottom: 0px; */
    /* font-weight: 500; */
    line-height: 42px;
    padding: 0 5px;
  }
}